body{
    background-color: white;
}

h1{
    font-family: 'Courier New', Courier, monospace;
    color:red;
    font-size: 25pt;
    text-align: center;
    font-weight: bolder;
}

p{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 18pt;
    text-align: justify;
    
}

div{
    background-color: lightblue;
    padding: 10px;
    margin: 25px;
    border-style: double;
}

#Div_inferior{
  background-color: orange;
  border-style: dotted;
  margin: 35px;
}

span{
    color: red;
    font-weight: bolder;
}

