.esquerdaCima {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    height: 200px;
    background-color: red;
    border-style: solid;
}

.esquerdaBaixo {
    position: absolute;
    top: 360px;
    left: 10px;
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-style: solid;
}

.direitaCima {
    position: absolute;
    top: 10px;
    left: 1050px;
    width: 200px;
    height: 200px;
    background-color: yellow;
    border-style: solid;
}

.direitaBaixo {
    position: absolute;
    top: 360px;
    left: 1050px;
    width: 200px;
    height: 200px;
    background-color: blue;
    border-style: solid;
}
